<div class="container py-4">
    <h2 class="mb-4 text-center fw-bold text-primary">Pokémon Teams</h2>
  
    <div class="row g-4 my-3" *ngFor="let team of teamList">
      <div class="col-12">
        <div
        class="card shadow rounded-4 border-3"
        [ngClass]="{
          'border-primary': selectedTeams.includes(team.id),
          'border-0': !selectedTeams.includes(team.id),
          'cursor-pointer': true
        }"
        (click)="selectTeam(team.id)"
      >
          <div class="card-body bg-light rounded-top-4">
            <h4 class="card-title fw-bold text-dark d-flex justify-content-between">
              {{ team.name }}
              <span class="badge bg-primary rounded-pill">Total Power: {{ team.power }}</span>
            </h4>
          </div>
  
          <div class="card-body">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-3">
              <div *ngFor="let p of team.pokemons" class="col">
                <div class="card border-0 text-center shadow-sm h-100 rounded-4 hover-scale">
                  <img
                    [src]="p.image"
                    class="card-img-top mx-auto mt-3"
                    [alt]="p.name"
                    style="width: 70px; height: 70px;"
                  />
                  <div class="card-body">
                    <h6 class="card-title mb-0">{{ p.name }}</h6>
                    <small class="text-muted d-block mb-1">{{ p.type.name.trim() }}</small>
                    <div class="d-flex justify-content-between small">
                      <span>💪 {{ p.power }}</span>
                      <span>❤️ {{ p.life }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <div class="text-center my-4">
        <button
          class="btn btn-warning btn-lg px-5 py-2 fw-bold border-4 rounded-pill start-game-btn"
          [disabled]="selectedTeams.length !== 2"
            (click)="startGame()"
        >
          🎮 Start Game!
        </button>
      </div>
  </div>
  